.env
# Игнорировать файлы с расширением .pyc
*.pyc

# Игнорировать файлы с расширением .pyo
*.pyo

# Игнорировать файлы с расширением .log
*.log

# Игнорировать файлы с расширением .out
*.out

# Игнорировать файлы с расширением .gz
*.gz

# Игнорировать файлы с расширением .pkl
*.pkl

# Игнорировать файлы с расширением .csv
*.csv

# Игнорировать файлы с расширением .json
*.json

# Игнорировать файлы с расширением .txt
*.txt

# Игнорировать папку __pycache__
__pycache__/

# Игнорировать папку .idea
.idea/

# Игнорировать папку env
env/

# Игнорировать папку logs
logs/

# Игнорировать файл .gitignore
.gitignore